$COL_BLACK_N         :  #212121;
$COL_BLACK_L         :  #625f50;
$COL_RED_N           :  #ff3333;
$COL_RED_L           :  #f76e6e;
$COL_GREEN_N         :  #33ff85;
$COL_GREEN_L         :  #86f9b4;
$COL_YELLOW_N        :  #ffee33;
$COL_YELLOW_L        :  #f9ef86;
$COL_BLUE_N          :  #808aff;
$COL_BLUE_L          :  #b6bcfb;
$COL_MAGENTA_N       :  #f53df5;
$COL_MAGENTA_L       :  #f5a3f5;
$COL_CYAN_N          :  #6afbfb;
$COL_CYAN_L          :  #baf7f7;
$COL_WHITE_N         :  #d4d4c4;
$COL_WHITE_L         :  #f3f3f2;
$COL_FOREGROUND      :  #dcd8c0;
$COL_BACKGROUND      :  #171412;
$COL_FOREGROUND_INV  :  #2e2824;
$COL_BACKGROUND_INV  :  #f1efe5;
